 /*Basic Setup*/
*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}
html{
	font-size: 62.5%;
	scroll-behavior: smooth;
}
body{
	font-family: 'Titillium Web', sans-serif;
	text-rendering: optimizeLegibility;
	line-height: 1.3;
	font-size: 1.6rem;
}

ul li{
	list-style-type: none;	
}
/**** HEADING****/
h1{
	font-size: 4.2rem;
	color: #fff;
}

:focus{
	outline: 0;
}


/********* REUSABLE COMPONENTS ********/
.row{
	max-width: 114rem;
	margin:0 auto;
}

section{
	padding: 8rem 0;
}

h2{
	font-size: 4rem;
	text-transform: uppercase;
	letter-spacing: .3rem;
	margin-top: 0;
	margin-bottom: 2rem;
	font-weight: 600;
	color: #fff;
	text-align: center;

}
h2::after{
	content: "";
	display: block;
	height: .4rem;
	background: #fff;
	width: 8.5rem;
	margin:auto;
	margin-top: 2rem;

}
h3{
	font-size: 2.4rem;
	text-transform: uppercase;
	font-size: 600;
	color: #fff; 
}
h4{
	font-size: 1.8rem;
	font-weight: 400;
	text-transform: uppercase;
	margin-top: 2.5rem;
}
.box{
	padding: 1%;
}
.box p{
	font-size: 1.6rem;
	font-weight: 300;
	margin-top: 2rem;
	color: #fff;
}

/**** BUTTON ***/


.btn:link,
.btn:visited,
.btn{
	background: #333;
	color: #fff;
	border-bottom: solid .1rem black;
	text-decoration: none;
	transform: uppercase;
	padding: 1.5rem 6rem;
	border-radius: .3rem;
	display: inline-block;
	margin-top: 4.5rem;
	font-size: 1.6rem;
}

/*** PARAGRAPH****/
.little-description{
	font-size: 1.8rem;
	width: 60%;
	margin-left: 20%;
	line-height: 3rem;
}

/********* HEADER SECTION********/
header{
	background: linear-gradient(rgb(135, 80, 156,0.9),
	    rgb(135, 80, 156,0.9)), url(img/hero-bg.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center top;
	height: 85vh;
	position:relative; 
}

.logo{
	height: 3.5rem;
	width: auto;
	float: left;
	margin-top: 3.5rem;
}

/***** MAIN NAV********/
.main-nav{
	float: right;
	margin-top: 4rem;
}
.main-nav li{
	display: inline-block;
	margin-left: 1rem;

}
.main-nav li a:link,
.main-nav li a:visited{
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;	
	padding: .6rem 1.6rem;
	display: inline-block;
	font-size: 1.6rem;
	transition: .3s;
	border-radius: .3rem;
}
.main-nav li a:first-child{
	margin-left: 0;
}
.main-nav li:hover a:link,
.main-nav li:hover a:visited{
	background:#643a79;
}
.active{
	background:#643a79;
}
.hero-text-box{
	text-align: center;
	width: 100%;
	margin-top: 18rem;
}

.btn-hero:link,
.btn-hero:visited{
	background: #eb7d4b;
	border-color: #c86a40;
}
.mobile-menu span{
	color: #fff;
	float: right;
	font-size: 4rem;
	margin-top: 2rem;
	display: none;
}
.mobile-menu span:hover{
	cursor: pointer;
}
.sticky .mobile-menu span{
	margin: 0;
	line-height: 1;
}

.overlay{
	width: 0;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.9);
	z-index: 1;
	overflow: hidden;
	transition: .5s;
}
.overlay-content{
	position: relative;
	top: 15%;
	width: 100%;
	text-align: center;
}
.overlay a{
	display: block;
	font-size: 3rem;
	text-transform: uppercase;
	color: #999;
	padding: 1rem 0;
	text-decoration: none;
	letter-spacing: .3rem;
}
.overlay-content a:hover{
	color: #fff;
}
.overlay .closebtn{
	position: absolute;
	top: 1rem;
	right: 2rem;
	font-size: 5rem;
}
.overlay .closebtn:hover{
	color: #fff;
}


/**** STICKY MENU*****/
.sticky{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background: rgba(135,80,156,0.9);
	padding: 1rem 0;
	box-shadow: 0 .3rem .5rem rgba( 255,255,255,0.9);
	z-index: 9999;
}
.sticky .logo{
	margin-top: 0;
}
.sticky .main-nav{
	margin-top: .2rem;
}


/****** SERVICES SECTION *******/


.services-section{
	color: #fff;
	text-align: center;
	background: linear-gradient(rgb(23, 194, 164,0.9),
	    rgb(23, 194, 164,0.9)), url(img/services-bg.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center top;
}
.services-section h2::after{
	background:#14a58c;
}
.services-icon{
	height: 10rem;
	margin-top: 4.5rem;
	margin-bottom: 3.5rem;
}

/****** TEAM SECTION *******/

.team-section{
	background: linear-gradient(rgb(231, 241, 248,0.9),
	    rgb(231, 241, 248,0.9)), url(img/team-bg.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center top;
	text-align: center;
}
.team-section h2{
	color: #3c4761;
}

.team-section h2::after{
	background: #c8d9e5;
}
.team-member{
	margin-top: 4.5rem;
	margin-bottom: 3.5rem;
	width: 20rem;
	height: 20rem;
	border-radius: 50%;
}
.team-section h3{
	color: #27283d;
}
.role{
	color: #30bae7;
	font-size: 1.6rem;
	text-transform: capitalize;
	margin-top: .5rem;
	display: inline-block;

}
.team-section .box p{
	color: #3c4761;
}
.social-link{
	margin-top: 4.5rem;

}
.social-link ul li {
	display: inline-block;
	margin:0 .5rem;
}
.social-link ul li a i{
    color: #fff;
}
.social-link ul li a{
	background: #bdd1df;
	font-size: 1.5rem;
	width: 4rem;
	height: 4rem;
	display: inline-block;
	border-radius: 50%;
	padding: 1rem;
	transition: .5s;
}

.social-link ul li:hover a{
	background: #393939;
	transform: rotate(360deg);
}
/****** SKILL SECTION *******/

/**** START ANIMATED CIRCLE****/
svg.radial-progress {
  height: auto;
  max-width: 200px;
  padding: 1em;
  transform: rotate(-90deg);
  width: 100%;
}

svg.radial-progress circle {
  fill: rgba(0,0,0,0);
  stroke: #fff;
  stroke-dashoffset: 219.91148575129; 
  stroke-width: 10;
}

svg.radial-progress circle.incomplete { opacity: 0.25; }

svg.radial-progress circle.complete { stroke-dasharray: 219.91148575129; }

svg.radial-progress text {
  fill: #fff;
  text-anchor: middle;
}
/**** END ANIMATED CIRCLE****/


.skill-section{
	text-align: center;
	color: #3c4761;
	background: linear-gradient(rgba(255,255,255,0.9),
	    rgba(255,255,255,0.9)), url(img/skill-bg.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
}
.skill-section h2,
.skill-section h3{
	color: #3c4761;
}
.skill-section h2::after{
	background: #dfe8ed;

}
.skill-section .box{
	margin-top: 4.5rem;

}

svg.radial-progress circle{
	stroke-width:5;
}
svg.radial-progress text{
	fill: #3c4761;
	font-size: 1.5rem;
}
svg.web-design circle{
	stroke: #30bae7;
}
svg.html-css circle{
	stroke: #d74689;
}
svg.graphic-design circle{
	stroke: #15c8ab;
}
svg.ui-ux circle{
	stroke: #eb7d4b;
}

/****** PORTFOLIO SECTION *******/

.portfolio-section{
	text-align: center;
	background: linear-gradient(rgba(255,221,153,0.9),
	    rgba(255,221,153,0.9)), url(img/portfolio-bg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
}

.portfolio-section h2{
	color: #3c4761;

}
.portfolio-section h2::after{
	background: #e5c37f;
}
.portfolio-filter{
	margin-top: 4.5rem;
}
.portfolio-filter button{
	background: #ebc985;
	font-size: 1.8rem;
	margin: 0 .5rem;
	color: #3c4761;
	padding: 1rem 2rem;
	border: 0;
	border-radius: 0 .5rem;
	text-transform: uppercase;
	transition: .5s;
}
.portfolio-filter button:hover{
	cursor: pointer;
	box-shadow: inset 0 .3rem .5rem rgba(60,71,97,0.5);
}
.portfolio-image{
	width: 100%;
	height: auto;

}
.portfolio-section .col:nth-child(3){
	margin-left: 0;
}
.portfolio-section .mixitup-control-active{
	background:#fff;
}

/****** TESTIMONIAL SECTION *******/
.testimonial{
	background: linear-gradient(rgba(215,70,128,0.9),
	   rgba(215,70,128,0.9)),url(img/testimonial-bg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
}

.testimonial .little-description{
	text-align: center;
	color: #fff;
}

.testimonial .col:nth-child(3){
	margin-left: 0;
}

.testimonial .col:nth-child(1),
.testimonial .col:nth-child(2){
	margin-top: 4rem;
}
.testimonial .col:nth-child(3),
.testimonial .col:nth-child(4){
	margin-top: 8rem;
}
.client-photo{
	width: 10rem;
	float: left;
}
.client-photo img{
	height: 8rem;
	border-radius: 50%;
	margin-bottom: 3rem; 
}
.client-review{
	width: 35rem;
	float: left;
}
.client-review p{
	font-size: 2.1rem;
	margin-top: 0;
	margin-bottom: 2rem;
	font-style: italic;
}

.client-review .role{
	color: #ffdd99;
}

/****** CONTACT SECTION *******/
.contact-section{
	text-align: center;
	background: linear-gradient(rgba(60,84,153,0.9),
	    rgba(60,84,153,0.9)),url(img/contact-bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;

}
.contact-section h2::after{
	background: #273a71; 
}
.contact-section .little-description{
	color: #fff;
}
.contact-section form{
	margin-top: 5rem;
	width: 70%;
	margin-left: 15%;
	
}
.contact-section input[type="text"],
.contact-section input[type="email"],
.contact-section textarea{
	background: #273a71;
	border: .1rem solid #273a71;
	width: 100%;
	padding: 1.5rem;
	border-radius: .5rem;
	color: #fff;
	margin: .5rem 0;
}

.contact-section textarea{
	height: 20rem;
}

.contact-section form ::placeholder{
	color: #fff;
	opacity: 1;
}
.btn-submit{
	border:0;
	border-bottom: .3rem solid #299ec5;
	background: #30bae7;
}
.btn-submit:hover{
	cursor: pointer;
}

/****** FOOTER SECTION *******/
.footer-section{
	background: #344b8e;
	padding: 3rem 0;
	text-align: center;
	border-top: .1rem solid rgba(255,255,255,0.3);
}
.footer-section li{
	display: inline-block;
	margin: 0 2rem;
}
.footer-section li a{
	color: #fff;
	text-decoration: none;
	text-transform: capitalize;
	font-size: 2.4rem;
}
.footer-section li:hover a{
	color: #30bae7;
}